<div class="container d-flex bg-white">
    <div class="row d-flex">
        <div class="col-8">
            <h1>The First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
            <p>Duis facilisis mollis ex sit amet vestibulum. Fusce scelerisque, odio vel semper maximus, nibh arcu tincidunt orci, non varius mi diam id sapien. Aliquam at neque in ante porttitor pharetra. Aliquam malesuada lectus ex, facilisis placerat urna elementum a. Pellentesque pharetra molestie augue tempus ullamcorper.</p>
        </div>
        <div class="col-4">
            <img src="https://browser-magenta-dog-l36d9f3l.ws-us09.gitpod.io/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg" alt="cartoon of the main character from Breaking Bad tv show" class="rounded-circle d-inline-block w-100 h-100">
        </div>
    </div>
</div>